.container {
  width: 1000px;
  height: 1000px;
  position: relative;
}
.content {
  width: 200px;
  height: 350px;
  -webkit-box-shadow: 3px 9px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 9px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 9px 8px 0px rgba(34, 60, 80, 0.2);
  margin-left: 300px;
  position: relative;
}
.img {
  width: 200px;
  height: 150px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.price {
  font-weight: bold;
}
.details {
  cursor: pointer;
  margin-left: 130px;
  background: none;
  border-radius: 3px;
  color: cornflowerblue;
  border-color: cornflowerblue;
}
.basket {
  font-size: 13px;
  cursor: pointer;
  background-color: green;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: white;
  margin-left: 10px;
}
.basketMom {
  padding: 10px;
}
.hr {
  margin-top: 30px;
}
.deleteBut {
  color: red;
  border: none;
  font-size: 10px;
  background: none;
  cursor: pointer;
  margin-left: 8px;
  margin-bottom: 50px;
}
.basket2 {
  font-size: 13px;
  cursor: pointer;
  background-color: green;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: wheat;
  margin-left: 10px;
}
.block {
  margin-left: 170px;
  bottom: -50px;
  width: 230px;
  height: 100px;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: -3px 8px 39px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -3px 8px 39px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -3px 8px 39px 0px rgba(34, 60, 80, 0.2);
  position: absolute;
  margin-bottom: 200px;
}
.x {
  color: red;
  border: none;
  background: none;
  cursor: pointer;
}
.buttonX {
  margin-left: 210px;
}
